@import "./style.scss";

.banner-pesquisas {
    height: 350px;
    
}    
.area-pesquisa {
    //max-width: 83%;
    font-size: 1rem;
    font-weight: 200;
    line-height: 2.2rem;
}

.area-pesquisa .subareas {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.subareas-menu {
    margin: 0rem 0.8rem 3rem 0.8rem;
}

.subareas-menu ul{
    
    display: flex;
    list-style: none;
}

.btn-subareas{

    text-transform: uppercase;
    font-size: 8pt;
    margin-right: 0.4rem;
    cursor: pointer;
    color: #8B8787; 
    border-radius: 0.2rem;
    padding: 0.1rem 2rem;
    
    
    &:hover{
        background-color: $secondary-color;
        font-weight: 400;
        color: #fff;
    }
}

.btn-actived {
    background-color: $secondary-color;
    font-weight: 400;
    color: #fff;
}

.subarea {
    margin: 4rem 0 2rem 0;
    display: flex;
}

.subarea--resume {

    flex: 1;

    .btn-subareas {
        width: 50px;
    }
    
}

.subarea--image {
    width: 450px;
    height: 280px;
   
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
        object-position: bottom;
        box-shadow: 0 10px 10px #ccc;
        filter: brightness(70%);
    }
}

.projetos {
    margin: 3rem 0;
}
.section-projetos {
    margin: 5rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;

}


.projeto--img {
    width: 550px;
    height: 350px;

    img {
      width: 100%;
      height: 100%;
    }

}
.projetos-nav {
    padding: 0 2rem;
}
.projetos-nav ul{
   list-style: none;
}

.btn-projetos{
    
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 5rem;
    margin-bottom: 0.3rem;
    border-radius: 4px;
    color: rgb(131, 129, 129);
    font-size: 0.8rem;
    text-transform: uppercase;

}

.btn-projetos:hover {
    color: #fff;
    background-color: #2D3453;
}

.btn-projetos.actived {
    color: #fff;
    background-color: #2D3453;
}
.tittle-projeto {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #2364C7;
    margin-bottom: 2rem;
}

.projeto-resume {
    display: flex;

    p {
        flex: 1;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.9rem;
        text-align: justify;
        margin-right: 4rem;
    }
}

.content {
    .section-sobre {
        .section-sobre--thumb{
            height: 450px;
            width: 600px;
            border-radius: 4px;
            margin-top: 2rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
                border-radius: inherit;
            }
        }
    }
}

///MUDAR DPS

.projeto {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);

 
}

.projeto-image {
  position: relative;
  display: flex;
  justify-content:  center;
  align-items: flex-end;
  height: 300px;
  width: 100%;
  background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
  background-position: center;
  background-size: cover;
}

.text-container {
  margin: 60px 45px 55px;

  p {
      font-weight: 300;
      font-size: 16pt;
      line-height: 24px;
      margin: 0 0 30px 0;
    }
}

@media screen and (min-width: 768px) {
  .projeto {
    flex-direction: row;
    width: 100%;
  }
  .projeto-image {
    height: 420px;
    min-width: 360px;
  }
  .text-container {
    margin: 0 60px;
    max-width: 660px;
  }
}

@media screen and (min-width: 1024px) {
  .projeto {
    max-width: 1200px;
  }
}


.slide-buttons {
  z-index: 2;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.slide-button {
  height: 80px;
  width: 80px;
  background-position: center;
  background-size: cover;
  margin: 0.5rem;
  border-radius: 4px;
  border: solid 4px #fff;
}

.buttons.actived {

  height: 78px;
  width: 78px;

}


.sumiu {
    display: none;
}

.apareceu {
    display: block;
}