@import "./areas-pesquisa.css";


.banner-quem-somos {

    position: relative;
    background: linear-gradient(to right,rgba(45, 52, 83, 0.959) 30%,rgba(45, 52, 83, 0.2) ,rgba(41, 105, 134, 0.7));
    

    .content {
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            left: 35%;
            height: 100%;
            width: 40%;
            filter: o;
            object-fit: cover;
            object-position: 20% 15%;
           
        }
    
    }

  
}

.professores--tittle {
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    
    &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: -5px;
        border: 15px solid;
        border-color: #2D3453 transparent transparent;
    }
    
}
.professores {
    padding: 0 2rem;
}
.professor {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.professor--image {
    position: relative;
    width: 150px;
    height: 180px;
    margin-right: 2rem;
    border-radius: 5px;

    img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
    }

    &:hover .hover-info{
        display: flex;
    }
}

.professor--resume {
    flex: 1;
    text-align: justify;
    p{ 
        font-weight: 200;
    }
}


.hover-info {

    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.3rem;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(45, 52, 83, 0.8) ; 
    color: #2D3453;
    text-align: center;

    a {
        text-decoration: none;
        color:#fff;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 0 0.7rem;
        
    }
}