@import "./style.scss";

.banner-pesquisas {
    height: 350px;
    
}    
.area-pesquisa {
    //max-width: 83%;
    font-size: 1rem;
    font-weight: 200;
    line-height: 2.2rem;
}

.area-pesquisa .subareas {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.subareas-menu {
    margin: 0rem 0.8rem 3rem 0.8rem;
}

.subareas-menu ul{
    
    display: flex;
    list-style: none;
}

.btn-subareas{

    text-transform: uppercase;
    font-size: 8pt;
    margin-right: 0.4rem;
    cursor: pointer;
    color: #8B8787; 
    border-radius: 0.2rem;
    padding: 0.1rem 2rem;
    
    
    &:hover{
        background-color: $secondary-color;
        font-weight: 400;
        color: #fff;
    }
}

.btn-actived {
    background-color: $secondary-color;
    font-weight: 400;
    color: #fff;
}

.subarea {
    margin: 4rem 0 2rem 0;
    display: flex;
}

.subarea--resume {

    flex: 1;

    .btn-subareas {
        width: 50px;
    }
    
}

.subarea--image {
    width: 450px;
    height: 280px;
   
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
        object-position: bottom;
        box-shadow: 0 10px 10px #ccc;
        filter: brightness(70%);
    }
}

.projetos {
    margin: 3rem 0;
}
.section-projetos {
    margin: 5rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;

}

.projetos-nav {
    padding: 0 2rem;
}
.projetos-nav ul{
   list-style: none;
}

.btn-projetos{
    
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 5rem;
    margin-bottom: 0.3rem;
    border-radius: 4px;
    color: rgb(131, 129, 129);
    font-size: 0.8rem;
    text-transform: uppercase;

}

.btn-projetos:hover {
    color: #fff;
    background-color: #2D3453;
}

.btn-projetos.actived {
    color: #fff;
    background-color: #2D3453;
}
.tittle-projeto {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #2364C7;
    margin-bottom: 2rem;
}

.projeto-resume {
    display: flex;

    p {
        flex: 1;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.9rem;
        text-align: justify;
        margin-right: 4rem;
    }
}

.content {
    .section-sobre {
        .section-sobre--thumb{
            height: 450px;
            width: 600px;
            border-radius: 4px;
            margin-top: 2rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
                border-radius: inherit;
            }
        }
    }
}
.projeto-main--image {
    width: 600px;
    height: 600px;
    border-radius: 4px;

    img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        object-position: bottom;
        box-shadow: 0 10px 10px #ccc;
        filter: brightness(70%);
    }
}

  .wrapper {
    margin-top: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .slider {
    height: 17rem;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .item .title {
    font-weight: bold;
    margin: 1rem;
  }
  
  .item img {
    height: 14rem;
  }
  
  .next,
  .prev {
    font-family: monospace;
    font-size: 5rem;
    background: none;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(100,100,100, 0.5);
  }
  .prev{
    transform: rotate(-180deg);
  }
  .next:hover{
    text-shadow: 2px 2px 2px rgb(200,200,200);
  }
  .prev:hover{
    text-shadow: 2px -2px 2px rgb(200,200,200);
  }
  
  .item {
    flex: 1 0 25%;
    min-height: 200px;
    text-align: center;
    height: auto;
  }
  
  @media (max-width: 1024px) {
    .item {
      flex: 1 0 33%;
    }
  }
  @media (max-width: 768px) {
    .item {
      flex: 1 0 50%;
    }
  }
  @media (max-width: 576px) {
    .item {
      flex: 1 0 100%;
    }
  }
  

@media (max-width: 1250px) {
    .section-sobre {
        flex-direction: column;
        align-items: center;
    }
}
