@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
@-webkit-keyframes menu-ease-in {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
@keyframes menu-ease-in {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: auto;
}

header {
  height: auto;
  background-color: #0e5f96;
}

.header-container {
  height: 80px;
  display: grid;
  grid-template-areas: "logo  menu";
  align-items: center;
  justify-content: space-between;
}

.logo {
  grid-area: logo;
  height: 90px;
  width: 90px;
  margin-left: 1.2rem;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
  filter: brightness(200%);
}

.menu {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.2rem;
}
.menu ul, .menu li {
  list-style: none;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-weight: 400;
}
.menu li {
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  position: relative;
}
.menu li a {
  text-decoration: none;
  padding: 1rem 0.7rem 1.5rem 0.7rem;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.8rem;
}
.menu li a:hover {
  color: #C0C0C0;
}
.menu li:hover .projetos-submenu {
  display: block;
}

.projetos-submenu {
  display: none;
}
.projetos-submenu ul {
  display: block;
  position: absolute;
  width: 180px;
  height: auto;
  top: 50px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  text-align: start;
  border-radius: 0.3rem;
}
.projetos-submenu ul::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 0;
  top: -18%;
  left: 15px;
  border: 20px solid;
  border-color: transparent transparent #fff transparent;
}
.projetos-submenu li {
  margin: 0.5rem 0;
  border-radius: inherit;
}
.projetos-submenu li a {
  color: #000;
  display: block;
  border-radius: inherit;
  padding: 0.8rem;
  margin: 0 0.2rem;
  font-size: 0.7rem;
}
.projetos-submenu li a:hover {
  border-bottom: none;
  background-color: #0e5f96;
}

.banner {
  max-width: 1280px;
  min-width: 250px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 300%;
  height: 400px;
}

.slide-radios {
  display: none;
}

.slide-navigation {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 1280px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.slide {
  width: 33.33%;
}
.slide img {
  width: 100%;
  height: 100%;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide-balls {
  width: 1.12rem;
  height: 1.12rem;
  border-radius: 50%;
  border: 2px solid #2D3453;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.slide-balls:not(:last-child) {
  margin-right: 1rem;
}
.slide-balls:hover {
  background-color: #2D3453;
}

.darkness {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.section-default {
  padding: 4rem 1.2rem;
}

.section-title h1, .section-title h2, .section-title h3, .section-title h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 0.6rem;
}

.section-body {
  margin: 2.4rem 0;
}

.section-white {
  color: #000;
}
.section-white .section-title {
  color: #2364C7;
  border-left: 4px solid #2364C7;
}

.section-blue {
  background-color: #0e5f96;
  color: white;
}
.section-blue .section-title {
  color: #fff;
  border-left: 4px solid #fff;
}

.button {
  padding: 1rem 2rem;
  background-color: #2364C7;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.7rem;
}

.menu-toggle {
  grid-area: toggle;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
}
.menu-toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
}
.menu-toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: translateY(10px);
}

.menu-mobile {
  width: 100%;
  display: none;
  height: 180px;
  background-color: white;
}
.menu-mobile ul {
  width: 750px;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  padding: 0 45px;
}
.menu-mobile ul li {
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  margin: 1.5rem 0;
}
.menu-mobile ul li a {
  text-decoration: none;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.8rem;
  transition: all 0.5s width;
}
.menu-mobile ul li a:hover {
  color: #C0C0C0;
}

.menu.active {
  display: block;
}

.section-sobre {
  display: flex;
  flex-wrap: wrap;
}
.section-sobre .section-sobre--resume {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.9rem;
  text-align: justify;
  margin-right: 4rem;
}
.section-sobre .section-sobre--video {
  max-width: 450px;
  position: relative;
  text-align: center;
}
.section-sobre .section-sobre--video img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 5px 10px #333;
  filter: brightness(80%);
}

.section-areas-pesquisas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2D3453;
  border-radius: 4px;
  width: 320px;
  min-height: 390px;
  box-shadow: 5px 5px 10px #333;
}
.area img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  transition: all 0.6s;
}
.area:hover .area-text {
  color: white;
}
.area:hover img {
  transform: scale(1.1);
}

.area .area-text {
  color: rgba(255, 255, 255, 0.7019607843);
  text-transform: uppercase;
  padding: 2rem;
  text-align: justify;
}
.area .area-text .area-text--title {
  margin-bottom: 1.5rem;
  letter-spacing: 0.2rem;
}
.area .area-text .area-text--resume {
  line-height: 1.5rem;
}

.section-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projetos--filter {
  border: 1px solid rgba(255, 255, 255, 0.7019607843);
  border-radius: 0.7rem;
  background-color: #2D3453;
  display: inline-block;
  padding: 0 1rem;
  display: none;
}
.section-projetos--filter ul, .section-projetos--filter li {
  list-style: none;
}
.section-projetos--filter ul {
  display: flex;
  flex-direction: row;
}
.section-projetos--filter li {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7019607843);
  padding: 0.62rem 0.8rem;
  border-bottom: 3px solid #2D3453;
}
.section-projetos--filter li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.7019607843);
}
.section-projetos--filter li:hover {
  color: #fff;
  border-bottom: 3px solid #0e5f96;
}
.section-projetos--filter .active {
  color: #fff;
  border-bottom: 3px solid #0e5f96;
}

.section-projetos-images {
  width: 100vw;
  max-width: 1280px;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-projeto-image {
  width: 280px;
}

.section-projeto-image-area {
  position: relative;
  overflow: hidden;
  margin: 0.624rem;
  width: 260px;
  height: 160px;
}
.section-projeto-image-area img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.section-projeto-image-area:hover .section-projeto-resume {
  display: flex;
}

.section-projeto-resume {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.3rem;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(45, 52, 83, 0.8);
  color: rgba(255, 255, 255, 0.7019607843);
}
.section-projeto-resume h5 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.section-projeto-resume p {
  font-size: 0.9rem;
  font-weight: 300;
}

footer {
  margin-top: 10rem;
  border-bottom: 2rem solid #000;
}

.footer-contato {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  color: #dddddd;
}
.footer-contato h6 {
  font-size: 1rem;
  font-style: none;
  margin-bottom: 1rem;
}

.uerj-logo {
  cursor: pointer;
}

.instagram {
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}

@media (max-width: 1100px) {
  .area {
    width: 280px;
  }
}
@media (max-width: 940px) {
  .section-sobre {
    flex-direction: column;
    align-items: center;
  }
  .section-sobre .section-sobre--resume {
    margin-right: 0px;
  }
  .header-container {
    grid-template-areas: "logo toggle" "menu menu";
    height: auto;
  }
  .menu {
    display: none;
    width: 100vw;
    background-color: #fff;
    top: 80px;
  }
  .menu ul {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: start;
  }
  .menu ul li {
    letter-spacing: normal;
  }
  .menu ul li a {
    position: relative;
    padding: 1rem 2.5rem;
    display: inline-block;
    color: #000;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .menu ul li:has(div) > a::after {
    content: "";
    text-align: center;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    border: 5px solid;
    border-color: #000 transparent transparent transparent;
  }
  .projetos-submenu ul {
    position: static;
    margin: 0 0.5rem;
  }
  .projetos-submenu ul::before {
    border: none;
  }
  .projetos-submenu ul li a:hover {
    background: none;
  }
  .menu-toggle {
    display: flex;
    justify-self: end;
    margin-right: 3 rem;
  }
  .section-sobre--video {
    margin-top: 2rem;
  }
  .area {
    width: 240px;
  }
  .area p {
    font-size: 10pt;
  }
  .area h2 {
    font-size: 12pt;
  }
}
@media (max-width: 800px) {
  .section-title h2 {
    font-size: 1.2rem;
  }
  .section-sobre .section-sobre--resume {
    font-size: 1rem;
  }
  .section-areas-pesquisas {
    flex-direction: column;
  }
  .section-areas-pesquisas .area {
    width: 320px;
    margin-bottom: 2rem;
  }
  .section-areas-pesquisas .area p {
    font-size: 12pt;
  }
  .section-areas-pesquisas .area h2 {
    font-size: medium;
  }
}
.area-pesquisa {
  max-width: 83%;
  font-size: 1rem;
  font-weight: 200;
  line-height: 2.2rem;
}

.area-pesquisa .subareas {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.subareas-menu {
  margin: 0rem 0.8rem 3rem 0.8rem;
}

.subareas-menu ul {
  display: flex;
  list-style: none;
}

.btn-subareas {
  text-transform: uppercase;
  font-size: 8pt;
  margin-right: 0.4rem;
  cursor: pointer;
  color: #8B8787;
  border-radius: 0.2rem;
  padding: 0.1rem 2rem;
}
.btn-subareas:hover {
  background-color: #2D3453;
  font-weight: 400;
  color: #fff;
}

.btn-actived {
  background-color: #2D3453;
  font-weight: 400;
  color: #fff;
}

.subarea {
  margin: 4rem 0 2rem 0;
  display: flex;
}

.subarea--resume {
  flex: 1;
}

.subarea--image {
  width: 450px;
  height: 280px;
}
.subarea--image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  box-shadow: 0 10px 10px #ccc;
  filter: brightness(70%);
}

.line {
  width: 100%;
  border-bottom: 2px solid rgba(45, 52, 83, 0.5);
}

.projetos {
  margin: 3rem 0;
}

.projetos-slides {
  display: flex;
  width: 100%;
  padding: 2rem 2rem;
  background-color: #8B8787;
  align-items: center;
  overflow-x: hidden;
}

.projeto {
  position: relative;
  width: 280px;
  height: 320px;
  border-radius: 1rem;
  margin-right: 1.5rem;
  flex: none;
}
.projeto img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}
.projeto::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
}/*# sourceMappingURL=areas-pesquisa.css.map */