@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

$primary-color: #0072BC;
$secondary-color: #2D3453;
$background-body: #dad8d8;
$font-color-secondary: #ffffffb3;
$title-blue: #2364C7;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffff;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header{

    height: 100px;
    background-color: $primary-color;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.logo {
    
    height: 90px;
    width: 90px;
    margin-left: 1.2rem;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.menu {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.2rem;
    
    ul,li{
        list-style: none;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        font-weight: 400;
    }

    li{
        text-transform: uppercase;
        letter-spacing: 0.1875rem;

        a{
            text-decoration: none;
            padding: 1rem 0.7rem 1.5rem 0.7rem;
            color: #fff;
            user-select: none;
            transition: all 0.5s width;

            &:hover {
                color: #C0C0C0;
                border-bottom: 4px solid #C0C0C0;
            }
        }
        
    }

   
}

.banner {

    max-width: 1280px;
    min-width: 250px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides {

    display: flex;
    width: 300%;
    height: 400px;

}

.slide-radios {
    display: none;
}

.slide-navigation {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 1280px;
    bottom: 20px;
    left: 50%;

    transform: translate(-50%);
}

.slide {
    width: 33.33%;
    
    img{
        width: 100%;
        height: 100%;
        max-height: 450px;
        object-fit: cover;
        object-position: center;
    }
}

.slide-balls {

    width: 1.12rem;
    height: 1.12rem;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    border-radius: 1rem;
    cursor: pointer;

    &:not(:last-child){
        margin-right: 1rem;
    }

    transition: all 0.3s;

    &:hover{
        background-color: $secondary-color;
    }
}

.darkness{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.section-default {

    padding: 4rem 1.2rem;

}

.section-title{

    h1,h2,h3,h4{
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-left: 0.6rem;
    }

}

.section-body {
    margin: 2.4rem 0;
}

.section-white{

    color: #000;

    .section-title {
        color: $title-blue;
        border-left: 4px solid $title-blue;
    }
}


.section-blue{
    background-color: $primary-color;
    color: #ffff;


    .section-title {
        color: #fff;
        border-left: 4px solid #fff;
    }
}

.button {

    padding: 1rem 2rem;
    background-color: $title-blue;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.7rem;

}

.menu-toggle {
    
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;

    &::before{
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #fff;
    }

    &::after {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(10px);
    }
  
}

.menu-toggle::before {
    
}

///CLASSES ÚNICAS

.section-sobre{
    display: flex;
    flex-wrap: wrap;

    //flex-direction: row;

    .section-sobre--resume {
        flex: 1;
        font-size: 16pt;
        font-weight: 300;
        line-height: 1.9rem;
        text-align: justify;
        margin-right: 4rem;
    }

    .section-sobre--video {
        max-width: 450px;
        position: relative;
        text-align: center;

        img{
            max-width: 100%;
            height: auto;
            box-shadow: 0px 5px 10px #333;
            filter: brightness(80%);
        }
    
    }

}

.section-areas-pesquisas {
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.area {

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 4px;
    width: 320px;
    min-height: 390px;
    box-shadow: 5px 5px 10px #333;
    img{
        width: 100%;
        height: 180px;
        object-fit: cover; overflow: hidden;
        border-radius: 4px 4px 0 0;
        transition: all 0.6s;
    }

    &:hover .area-text  {
        color: #ffff
    }

    &:hover img {
       
        transform: scale(1.1);
    }
}

.area .area-text {

    color: #ffffffb3;
    text-transform: uppercase;
    padding: 2rem;
    text-align: justify;

    .area-text--title {
        margin-bottom: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .area-text--resume {
        line-height: 1.5rem;
    }
}

.section-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projetos--filter {

    border: 1px solid $font-color-secondary;
    border-radius: 0.7rem;
    background-color: $secondary-color;
    display: inline-block;
    padding: 0 1rem;
    display: none;

    ul,li {
        list-style: none;
       
    }

    
    ul {
        display: flex;
        flex-direction: row;
        
    }

    li {
      
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        color: $font-color-secondary;
        padding: 0.62rem 0.8rem;
        border-bottom: 3px solid $secondary-color;


        &:not(:last-child){
            border-right: 1px solid $font-color-secondary;
        }

        &:hover {

            color: #fff;
            border-bottom: 3px solid $primary-color;
        }
    }

    
    .active {

        color: #fff;
        border-bottom: 3px solid $primary-color;

    }
}

.section-projetos-images {

    width: 100vw;
    max-width: 1280px;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}

.section-projeto-image {
    width: 280px;
}

.section-projeto-image-area {

    position: relative;
    overflow: hidden;
    margin: 0.624rem;
    width: 260px;
    height: 160px;
   
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        object-fit: cover;
        object-position: top;
    }
    
    
    &:hover .section-projeto-resume {
        display: flex;
       
    }

 


}

.section-projeto-resume {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.3rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(45, 52, 83, 0.8) ; 
    color: $font-color-secondary;
    h5{
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    p{
        font-size: 0.9rem;
        font-weight: 300;
    }
}


footer {
    margin-top: 10rem;
    border-bottom: 2rem solid #000 ;
}

.footer-contato {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    color: #dddddd;
    
    h6 {
        font-size: 1rem;
        font-style: none;
        margin-bottom: 1rem;
        
    }
}

.uerj-logo {

    cursor: pointer;

}

.instagram {
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}


@media (max-width: 1100px) {
    
    .section-sobre--video {
        
    }

    .area {
        width: 280px;
    }

}

 
@media (max-width: 940px) {
    

    .section-sobre {
       flex-direction: column;
       align-items: center;

       .section-sobre--resume {
        margin-right: 0px;
       }
    }

    .section-sobre--video {
        margin-top: 2rem;
       
    }

    .area {
        width: 240px;

        p {
            font-size: 10pt;
        }
        h2 {
            font-size: 12pt;
        }
    }

}


@media (max-width: 800px){
    
    .menu {
        position: absolute;
        display: none;
        width: 50vw;
        height: auto;
        padding-bottom: 2.5rem;
        align-items: flex-start;
        justify-content: center;
        right: 0;
        margin: 0;
        background-color: rgba(45, 52, 83, 0.8);
        top: 110px;
        z-index: 99;
        ul {
            flex-direction: column;
            li {
                margin-top: 2rem;

                a{
                    font-weight: bold;
                    font-size: 1.2rem;
                    &:hover{
                        border: none;
                    }
                }
            }
        }

    }

    .section-title {
        h2 {
            font-size: 1.2rem
        }
    }
    .section-sobre {
        .section-sobre--resume{
            font-size: 1rem;
        }
    }
    .section-areas-pesquisas {
        flex-direction: column;

        .area{
            width: 320px;
            margin-bottom: 2rem;

            p {
                font-size: 12pt;
            }
            h2 {
                font-size: medium;
            }
        }
    }

}